.banner{
  text-align:center;
  background-color:#607d8b;
  padding:70px;
  margin-top:-50px;
  font-family: 'Kaushan Script', cursive;
  color:white;
  font-weight:bold;
  box-shadow:0px 2px 20px gray;
}
.profilePic{
  height:300px;
  width:300px;
  margin-left:10px;
  margin-top:10px;
  border-radius:2%;
}
.languageCards{
  margin:0 auto;
  width:75%;
  height:10vh;
  position:absolute;
  top:11.5%;
  left:23%;
}
#button{
  margin-top:100px;
}
.cardDeck{
  display:flex;
  flex-direction:row;
  margin-top:-320px;
  margin-left:355px;
  justify-content: space-around;
}
.card-front{
  width:225px;
  height:300px;
}

.flip-card {
  background-color: transparent;
  width: 225px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(-180deg) scale(1.1);
  cursor:pointer;
  z-index:100;
  
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
  box-shadow:2px 2px 8px black;
}

/* Style the back side */
.flip-card-back {
  background-color: #607d8b;
  color: white;
  transform: rotateY(180deg);
  box-shadow:2px 2px 8px black;
}
.profileName{
  margin-left:15px;
}
.profileArea{
  position:absolute;
  left:13%;
  top:56.5%;
}
#deleteButton{
  background-color:#d06e6e;
  color:white;
  border:0;
  font-family: 'Arial', cursive;
  position:absolute;
  top:85.5%;
  left:0%;
  width:100%;
  padding:10px;
}
#deleteButton:hover{
  cursor:pointer;
}
/* #editLink{
  color:white;
  padding:5px;
  width:99.5%;
  background-color:#00e676;
  position:absolute;
  left:0px;
  bottom:0px;
  top:71%; */
/* } */
.editTab{
  margin-top:80px;
}
.editProfile{
  margin:0 auto;
  width:100%;
}