#resultCard{
  display:flex;
  flex-direction:column;
  width:10%;
  line-height:2;
  padding:20px;
  flex-wrap:wrap;
  margin:0 auto;
  margin-top:20px;
  border:1px solid slategrey;
  border-radius:20px;
}
