.users{
  display:flex;
  justify-content: space-evenly;
  margin-top:-650px;
}
.card{
  margin-top:20px;
  margin-left:8px;
  width:15%;
  line-height:2;
  height:vh;
  box-shadow: 1px 2px 1px 1px  lightgray;
}
#card{
  border-radius:0%;
}
.button {
  background-color: #4CAF50;
  background-image:url("../../assets/plus-16.png");
  background-position:center;
  background-repeat: no-repeat;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  position:absolute;
  height:40px;
  width:40px;
  border-radius:50%;
  top:1%;
  left:78%;
  transition:.5s;
}
.button:hover{
cursor:pointer;
transform:scale(1.1);
}
.card-title{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.border{
  border-bottom: 1px solid black;
  width:100%;
}
.language{
  margin-bottom:-50px;
}
.userPid{
  height:85px;
  width:70px;
  border-radius:50%;
  margin:0 auto;
  width:50%;
  margin-left:25%;
  border:1px solid black;
}